.Calendar {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 70vw;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

.Calendar-cell {
    border: 1px solid white;
    background: #00021d;
    border-radius: 4px;
    height: 70px;
    width: 70px;
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    box-shadow: inset 0 0 15px 7px black;
    transition: 0.3s transform, 0.3s box-shadow;
}

.Calendar-cell:hover {
    transform: translateX(-5px) translateY(-5px);
    box-shadow: inset 0 0 15px 0px black,
                5px 5px 0 white;
}

.Calendar-cell-text {
    user-select: none;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-shadow: 0 0 3px black;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    width: 70px;
    color: white;
}

.Calendar-cell.ideally {
    background: #6bbf67;
}

.Calendar-cell.good {
    background: #a2c45e;
}

.Calendar-cell.normal {
    background: #fec55f;
}

.Calendar-cell.bad {
    background: #f7a160;
}

.Calendar-cell.awful {
    background: #f13b50;
}

.Calendar-cell-info {
    position: relative;
    margin: auto;
    width: 70vw;
    height: fit-content;
    border-top: 2px solid white;
}

.Calendar-cell-info-close {
    position: absolute;
    right: 15px;
    top: -75px;
    width: 35px;
    height: 35px;
    background: white;
    cursor: pointer;
    transition: 0.2s;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.Calendar-cell-info-content {
    width: 100%;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Editable {
    -webkit-user-modify: read-write-plaintext-only;
}

.Calendar-cell-info-content-title {
    color: var(--not-hover-color);
    word-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: calc(100% - 120px);
    margin: auto;
    font-size: 36px;
    outline: none;
}

.Calendar-cell-info-content-text {
    color: var(--not-hover-color);
    word-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    outline: none;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: white;
  box-shadow: inset 0 0 3px rgb(0, 0, 0);
}

.Calendar-cell-info-close:hover {
    background: var(--hover-color);
    transform: rotate(90deg);
}

.Editor-delete,
.Editor-add-new {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s background-color, 0.2s width, 0.2s height;
    box-shadow: inset 0 0 3px 0 black;
    background: url('../../img/add.png') no-repeat;
    background-color: var(--not-hover-color);
    background-size: 75%;
    background-position: 65%;
}

.Editor-delete {
    background: url('../../img/delete.png') no-repeat;
    background-color: var(--not-hover-color);    
    background-size: 65%;
    background-position: center;
}

.Editor-delete:hover,
.Editor-add-new:hover {
    background-color: var(--hover-color);
}

@media screen and (max-width: 615px) {
    .Editor-delete {
        position: absolute;
        bottom: auto;
        top: -73px; 
        left: 0;
        background-color: transparent;
        filter: invert(1);
        box-shadow: none;
    }

    .Editor-add-new {
        bottom: auto;
        top: 12px;
        right: 5px;
        background-color: transparent;
        filter: invert(1);
        box-shadow: none;
    }

    .Calendar-cell-info-content-title {
        font-size: 32px;
    }

    .Calendar-cell-info-content-text {
        font-size: 24px;
    }

    .Calendar {
        width: 100vw;
    }

    .Calendar-cell-info-close {
        top: -60px;
    }

    .Calendar-cell-info {
        width: 100vw;
    }

    .Calendar-cell-text {
        width: 40px;
    }

    .Calendar-cell {
        box-shadow: inset 0 0 15px 3px black;
        width: 55px;
        height: 55px;
    }
}

.Calendar-cell-info-content-element {
    position: relative;
}

.Calendar-cell-info-content-element-remove {
    filter: invert(1);
    box-shadow: none;
    background-color: transparent;
    position: absolute;
    width: 50px;
    height: 50px; 
    top: -7px;
    left: 0;
}