.App-title {
  color: var(--not-hover-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 46px;
  text-align: center;
}

@media screen and (max-width: 615px) {
  .App-title {
    font-size: 32px;
  }   
}
